.main {
    /*margin-top: 100px;*/
    /*margin-left: 100px;*/
    display: flex;
    flex-direction: column;
}


.span-wrapper span {
    display: inline-block;
    font-size: 12px;
    border: 1px solid grey;
    border-radius: 15px;
    color: grey;
    padding: 5px;

}

.span-wrapper span span {
    cursor: pointer;
    /*border: 1px solid grey;*/
    border-radius: 50%;
    font-family: monospace;
    margin-left: 10px;
}


.input-price-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    margin-top: 20px;
}

.input-focused {
    border-color: green;
    outline: none;
}

.input-error {
    border-color: red;
    outline: none;
}


.price {
    font-size: 18px;
}


