body{
    font-family: "Myriad Pro", sans-serif;

}

a {
    text-decoration: none;
}

.container {
    width: 1280px;
    margin: 0 auto;
}

.logo-title {
    padding: 40px 0;
    font-size: 80px;
    text-decoration: none;
    color: #000000;
}

.logo-title-color {
    color: #4BCAFF;
}

.menu {
    text-align: center;
    background-color: #35444F;
}

.menu-item {
    display: inline-block;
}

.menu-item-link {
    display: block;
    padding: 25px 20px;
    color: #FFFFFF;
    font-size: 24px;
    /*padding: 0 22px;*/
}

.menu-item-link:hover {
   background-color: #222F3A;
    border-right: 0.3px solid white;
    border-left: 0.3px solid white;

}

.sidebar {
    border: 1px solid gray;
    display: inline-block;
    vertical-align: top;
}

.sidebar-item-link {
    display: block;
    color: #495863;
    font-size: 30px;
    padding: 15px 110px 15px 20px;
    transition: .5s;
}

.sidebar-item:hover {
    background-color: #DBDBDB;
}

.sidebar-item:hover .sidebar-item-link {
    transform: translateX(15px);
}

.content {
    padding: 50px 0;
}

.content-box {
    width: 864px;
    display: inline-block;
    margin-left: 50px;
}

.content-box-img {
    border: 1px solid black;
    padding: 75px 270px;
}

.content-image {
    transition: 0.5s;
}

.content-box-img:hover  .content-image {
    transform: scale(1.2);
}

.content-box-text{
    padding: 50px 20px 0;
}

.content-box-description{
    font-size: 18px;
    line-height: 25px;
    white-space: pre-line;
    letter-spacing: 1.2px;
    color: #2C2C2C;
}


.footer {
    padding: 20px 40px;
    background: #63696E;
    margin-bottom: 20px;
}



.footer-menu-item{
    display: inline-block;
    font-size: 24px;
    margin-left: 10px;
}

.footer-menu-link {
    color: #000000;
}

/*.footer-menu-link:visited {*/
/*    color: #4BCAFF;*/
/*}*/

.footer-menu-link:hover {
    color: #4BCAFF;
    text-decoration: underline;
}

.footer-menu {
    display: inline-block;
}

.copyright {
    display: inline-block;
    font-size: 24px;
    margin-left: 250px ;
    color: #000000;
}