.nav {
    margin: 2% auto;
    padding: 0;
    list-style-type: none;
    text-align: center;
}

.nav li {
    display: inline;
}

.nav a {
    color: #16A085;
    padding: 40px 80px;
    text-decoration: none;
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    font-weight: bolder;
    font-size: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.img {
    text-align: center;
}

.content h2 {
    color: #373737;
    text-decoration: none;
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
    margin: 3% auto;
}

.content p {
    color: #373737;
    text-decoration: none;
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    font-size: 16px;
    text-align: center;
    font-weight: bolder;
}

.one {
    padding-left: 115px;
    padding-right: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.two {
    padding-left: 115px;
    padding-right: 100px;
    margin-left: 10px;
    margin-right: 10px;
}

.btn {
    text-align: center;

}

.local-button {
    text-align: center;
}

.local-button button {
    height: 40px;
    width: 110px;
    border-radius: 5px;
    outline: none;
}

.btn button {
    background-color: #16A085;
    color: #FFFFFF;
    font-size: 12px;
    text-transform: uppercase;
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    height: 40px;
    width: 110px;
    border-radius: 5px;
    margin-bottom: 80px;
    margin-top: 25px;
}

.ftr {
    text-align: right;
    color: #373737;
    text-decoration: none;
    font-family: AdobeInvisFont, Roboto-Black, Courier;
    font-size: 16px;
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 50px;
    padding-right: 80px;
}