body {
    background: url("../images/background.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana;
}

.wrapper {
    width: 1064px;
    margin: 0 auto;
}

.header {
    padding: 50px 0;
}

.logo-top-left {
    float: left;
    text-transform: uppercase;
}

.logo-top-left:hover .text-hover {
    color: #f26522;
}

.logo-picture {
    display: inline-block;
    width: 46px;
    height: 44px;
    background-image: url("../images/logo.png");
    margin-right: 0;
}

/*.logo-picture:hover {*/
/*    background-image: url("../images/logo1.png");*/
/*}*/

.logo:hover .logo-picture {
    background-image: url("../images/logo1.png");
}

.logo-text {
    display: inline-block;
    text-decoration: none;
}

.logo-top-right {
    float: right;
}

.first-name {
    margin: 0 auto;
    font-size: 29px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.72;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.second-name {
    margin-top: 9px;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}




.mail {
    margin: 0;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 1.17;*/
    letter-spacing: normal;
    /*text-align: left;*/
    color: #ffffff;
}

.phone {
    margin-top: 5px;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    /*line-height: 1.17;*/
    letter-spacing: normal;
    text-align: right;
    color: #ffffff;
}

.tour {
    margin-right: 60px;
    width: 308px;
    float: left;

    margin-bottom: 60px;
}

.tour:nth-child(3n) {
    margin-right: 0;
}

.picture {
    position: relative;
    height: 200px;
    overflow: hidden;

    box-shadow: 0px 17px 24px 0 #000000;
    border-style: solid;
    border-width: 2px;
    border-image-source: linear-gradient(to top, #000000, #ffffff);
    border-image-slice: 1;
}

.tour:hover .hover-top {
    transform: translateY(-63px);
}

.clearfix {
     clear: both;
 }

a {
    text-decoration: none;
}

.tour-name {
    margin-top: 22px;
    font-family: Verdana;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.17;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.tour:hover .tour-name {
    color: #f26522;
}


.hover-top {
    position: absolute;
    left: 0;
    bottom: -63px;
    right: 0;
    padding: 10px;
    background: #f26522;
    transition: 0.7s;
}

.from {
    font-size: 10px;
    line-height: 2.1;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
}

.price {
    font-size: 20px;
    line-height: 1.05;
    letter-spacing: normal;
    text-align: left;
    color: #ffffff;
    display: inline-block;
}

.details {
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    float: right;
}

.details::after {
    content: "   >";
    opacity: 0.5;
}

.footer {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 12px;
    line-height: 1.75;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 20px;
}