body {
    font-family: Arimo, sans-serif;
    text-transform: uppercase;
}

table {
    border: 25px solid #3a4965;
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;
}



th {
    color: #ffffff;
}

.list {
    padding: 30px 0 28px 0;
}


tr {
    color: #484848;
    font-size: 16px;

}

td {
    text-align: center;
    color: #484848;
}

.big {
    font-size: 60px;
    font-weight: bold;
    line-height: 1.47;
}

.small {
    display: inline-block;
    font-size: 24px;
    vertical-align: top;
    text-align: left;
    line-height: 1.47;
    position: relative;
    top: 12px;
}

.per {
    position: relative;
    display: inline-block;
    font-size: 18px;
    vertical-align: bottom;
    padding-bottom: 0;
    top: -13px;
}

.choose {
    font-weight: bold;
    padding: 27px 61px 10px 61px;
    color:  #484848;
    font-size: 18px;
    line-height: 1.56;
}

.plan {
    color:  #484848;
    font-size: 30px;
    line-height: 0.93;
    font-weight: bold;
    padding: 10px 22px 29px 22px;
}

.fas {
    font-size: 24px;
    margin-right: 12px;
    color: #848484;
}

.first-line {
    background-color: #fafafa;
    vertical-align: middle;
}

.green {
    background-color: #89c331;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: normal;

}

.red {
    background-color: #f04a56;
    font-size: 30px;
    font-weight: bold;
    line-height: 0.93;
    letter-spacing: normal;
}

.dark-green {
    background-color: #20807c;
    font-size: 24px;
    font-weight: bold;
    line-height: 1.17;
    letter-spacing: normal;
}

.red, .green, .dark-green {
    padding: 27px 72px 25px 73px;
}

tbody tr:nth-child(2n+1) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(2n+2) {
    background-color: #e3e3e3;
}

tfoot {
    background-color: #f4f4f4;
}

.contact {
    padding: 19px 44px 17px 45px;
    border: none;
    border-radius: 8px;
    background: #484848;
    text-align: center;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.contact:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 7px;
    background: #404040;
}

.contact:hover{
    transform: scale(1.1);
    background-color: rgba(72, 72, 72, 0.45);
}

.buy1 {
    padding: 19px 57px 17px 58px;
    border: none;
    border-radius: 8px;
    background: #89c331;
    text-align: center;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.buy1:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 7px;
    background: #79b027;
}

.buy1:hover{
    transform: scale(1.1);
    background-color: rgba(137, 195, 49, 0.45);
}

.buy2 {
    padding: 19px 57px 17px 58px;
    border: none;
    border-radius: 8px;
    background: #f04a56;
    text-align: center;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.buy2:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 7px;
    background: #df3a46;
}

.buy2:hover{
    transform: scale(1.1);
    background-color: rgba(240, 74, 86, 0.39);
}

.buy3 {
    padding: 19px 57px 17px 58px;
    border: none;
    border-radius: 8px;
    background: #20807c;
    text-align: center;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}

.buy3:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;
    height: 7px;
    background: #16736f;
}

.buy3:hover{
    transform: scale(1.1);
    background-color: rgba(32, 128, 124, 0.51);
}

.table td {
    border-left: 1px solid rgba(0,0,0,0.27);
}

