* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}

.header {
    background-color: #1d2124;
    font-family: "Open Sans", sans-serif;
    display: flex;
    justify-content: space-between;
}

.logo-top {
    background-color: #1a1d20;
    padding: 21px;
}

.logo-header {
    display: flex;
}

.logo-top-name {
    font-size: 22px;
    font-weight: bold;
    color: #ffffff;
    align-self: center;
}

.nav-bar {
    display: flex;
}

.nav-bar-list {
    display: flex;
    align-items: center;
}

.nav-link {
    margin-right: 37px;
}

.nav-link:last-child {
    margin-right: 0;
}

.nav-bar a {
    text-transform: uppercase;
    text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}

.nav-link a:hover {
    color: #d1d1d1;
}

.fas {
    background-color: #171a1c;
    color: #FFFFFF;
    padding: 25px;

}

.news {
    font-size: 27px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.content-news {
    height: 387px;
    background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/header-bg.jpeg");
    background-position: 50% 150%;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.buttons {
    margin-top: 44px;
}

.button {
    font-size: 18px;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    outline: none;
}

.button-subscribe {
    background-color: #89ca62;
    margin-right: 20px;
    padding: 20px 21px ;
}

.button-articles {
    background-color: #14b9d5;
    padding: 20px 32px;
}

.button:hover {
    cursor: pointer;
    transform: scale(1.1);
}




.wrapper {
    width: 1171px;
    margin: 0 auto;
}

.popular-posts {
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    padding-top: 61px;
    text-align: center;
}


.popular {
    background-color: #f2f2f2;
}

.post {
    background-color: #FFFFFF;
    margin-right: 30px;
    margin-top: 32px;
    box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.03);
}

.all-popular-posts {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
}

.post-info {
    display: block;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    color: #353a3d;
    line-height: 62px;
    text-decoration: none;
}

.post-info:hover  {
    font-size: 19px;
    color: black;
}

.post-one {
    width: 370px;
    height: 320px;
}

.post-one img {
    width: 370px;
    height: 259px;
}

.post-two {
    width: 370px;
    height: 441px;
}

.post-two img {
    width: 370px;
    height: 379px;
}

.post-three {
    width: 370px;
    height: 355px;
    margin-right: 0;
}

.post-three img {
    width: 370px;
    height: 289px;
}


.post-four {
    width: 370px;
    height: 321px;
    position: relative;
    bottom: 120px;
}

.post-four img {
    width: 370px;
    height: 259px;
}

.post-five {
    width: 370px;
    height: 309px;
}

.post-five img {
    width: 370px;
    height: 246px;
}

.post-six {
    width: 370px;
    height: 441px;
    margin-right: 0;
    position: relative;
    bottom: 85px;
}

.post-six img {
    width: 370px;
    height: 379px;
}

.clients {
    height: 588px;
    background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("./images/parallax-bg.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
}

.clients .wrapper {
    height: 588px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
}


.popular-clients {
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    color: #FFFFFF;
    grid-area: 1 / 2 / 2 / 4;
    justify-self: center;
    align-self: end;
}

.line {
    width: 60px;
    height: 3px;
    background-color: #169cb4;
    border: none;
    grid-area: 2 / 2 / 3 / 4;
    justify-self: center;
    align-self: center;
}

.national {
    grid-area: 3 /  1 / 4 / 2;
    justify-self: center;
    align-self: start;
}

.dryme {
    grid-area: 3 / 2 / 4 / 3;
    justify-self: center;
    align-self:  start;
}

.home {
    grid-area: 3 / 3 / 4 / 4;
    justify-self: center;
    align-self: start;
}

.jorney {
    grid-area: 3 / 4 / 4 / 5;
    justify-self: center;
    align-self: start;
}


.rated {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(7, 14.3%);
    grid-gap: 0;
}

.top-rated {
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    grid-area: 1 / 3 / 2 / 6;
    justify-self: center;
    align-self: center;
}

.rated img {
    width: 100%;
}

.latest1 {
    grid-area: 2 / 1 / 3 / 2;
}

.latest2 {
    grid-area: 2 / 2 / 3 / 3;
}

.latest3 {
    grid-area: 2 / 3 / 3 / 4;
}

.latest4 {
    grid-area: 2 / 4 / 3 / 5;
}

.latest5 {
    grid-area: 2 / 5 / 3 / 6;
}

.latest6 {
    grid-area: 2 / 6 / 3 / 7;
}

.latest7 {
    grid-area: 2 / 7 / 3 / 8;
}

.hot-news .wrapper{
    display: grid;
    grid-template-rows: 110px 290px repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0;
}

.hot-news-titel {
    font-size: 27px;
    font-weight: bold;
    color: #18b4cf;
    text-transform: uppercase;
    grid-area: 1 / 2 / 2 / 4;
    align-self: center;
    justify-self: center;
    margin-right: 34px;
}

.hot-news .post {
    background-color: #f9f7f7;
    margin-right: 0;
}

.four-posts {
    width: 554px;
    height: 418px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 50px 1fr;
    grid-gap: 0;
}


.four-posts .hot-news-link {
    align-self: center;
    justify-self: end;
    padding-right: 27px;
}

.four-posts p {
    padding-right: 27px;
}

.hot-news-link {
    font-size: 18px;
    font-weight: bold;
    color: #353a3d;
    text-decoration: none;
    text-align: right;
}

.hot-news p {
    font-size: 14px;
    font-weight: 600;
    line-height: 1.5;
    text-align: right;
    color: #5b6469;
}

.news1 {
    grid-area: 2 / 1 / 3 / 4;
    width: 856px;
    height: 259px;
    display: grid;
    grid-template-rows: 50px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
}

.news1 .hot-news-link {
    grid-area: 1 / 2 / 2 / 3;
    padding-right: 24px;
    align-self: center;
}

.news1 p {
    grid-area: 2 / 2 / 3 / 3;
    padding: 22px 24px 37px 30px;
}

.news2 {
    display: grid;
    width: 277px;
    height: 259px;
    grid-area: 2 / 4 / 3 / 5;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr;
    grid-gap: 0;
    justify-self: end;
}

.news2 .hot-news-link {
    grid-area: 2 / 1 / 3 / 2;
    justify-self: center;
    align-self: center;
}

.news3 {
    grid-area: 3 / 1 / 4 / 3;
}

.news4 {
    grid-area: 3 / 3 / 4 / 5;
    justify-self: end;
}

.news5 {
    grid-area: 4 / 1 / 5 / 3;
}

.news6 {
    grid-area: 4 / 3 / 5 / 5;
    justify-self: end;
}

.news8 {
    width: 856px;
    height: 259px;
    display: grid;
    grid-area: 5 / 2 / 6 / 5;
    grid-template-rows: 50px 1fr;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0;
    justify-self: end;
}

.news8 .hot-news-link {
    grid-area: 1 / 2 / 2 / 3;
    padding-right: 24px;
    align-self: center;
}

.news8 p {
    grid-area: 2 / 2 / 3 / 3;
    padding: 22px 24px 37px 30px;
}

.news7 {
    width: 277px;
    height: 259px;
    grid-area: 5 / 1 / 6 / 2;
    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: 1fr;
    grid-gap: 0;
}

.news7 .hot-news-link {
    grid-area: 2 / 1 / 3 / 4;
    justify-self: center;
    align-self: center;
}


.hot-news-link:hover {
    font-size: 20px;
    color: black;
    cursor: pointer;
}

.footer {
    background-color: #1d2124;
}

.footer .wrapper {
    display: grid;
    grid-template-rows: 80px;
    grid-template-columns: 1fr repeat(2, 64px);
    grid-gap: 0;
}

.copyright {
    grid-area: 1 / 1 / 2 / 2;
    font-size: 13px;
    line-height: 1.62;
    color: #FFFFFF;
    align-self: center;
}

.vector .footer-logo-text {
    align-self: center;
    justify-self: end;
}

.vector {
    grid-area: 1 / 2 / 2 / 3;
    justify-self: end;
    margin-top: 29px;
}

.footer-logo-text {
    grid-area: 1 / 3 / 2 / 4;
    margin-top: 29px;
}