
body {
background: url("../images/rana.png");
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Verdana;
    height: 100vh;
}


.header {
    width: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    color:#FFF;
    height: 54px;
}


.titel {
    display: inline-block;
    margin-top: 20px;
    margin-left: 81px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: normal;
    color: white;
    text-decoration: none;
}

.titel:hover {
    filter: invert(55%) sepia(72%) saturate(351%) hue-rotate(97deg) brightness(96%) contrast(94%);
}

.logo-text {
    display: inline-block;
    float: right;
    margin-right: 75px;
    margin-top: 22px;
    margin-left: 22px;
    font-size: 14px;
}

.log-in {
    text-decoration: none;
    color: #3cb878;
}

.log-in:hover {
    text-decoration: underline;
    cursor: pointer;
}

.icon {
    display: inline-block;
    float: right;
    margin-right: 28px;
    margin-top: 16px;
    cursor: pointer;

}

.icon:hover {
    filter: invert(55%) sepia(72%) saturate(351%) hue-rotate(97deg) brightness(96%) contrast(94%);
}

.icon-calc {
    width: 19px;
    height: 19px;
    background: url("../images/css_sprites.png");
    background-position: -1px -23px;

}

.icon-forum {
    width: 28px;
    height: 20px;
    background: url("../images/css_sprites.png");
    background-position: -1px -1px;
}

.icon-safari {
    width: 20px;
    height: 20px;
    background: url("../images/css_sprites.png");
    background-position: -31px -1px;
}

.clearfix {
    clear: both;
}


.sign {
    width: 444px;
    border-radius: 10px;
    background-color: #ffffff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate3d(-50%, -50%, 0);
    margin-top: 27px;

}


.sign-up {
    font-size: 19px;
    float: left;
    margin-top: 29px;
    margin-left: 42px;
    color: #434343;
}

.box {
    width: 18px;
    height: 18px;
    background-color: #3cb878;
    float: left;
    margin-top: 29px;
}

.top {
    float: right;
    margin-top: 33px;
    margin-right: 61px;
    margin-bottom: 15px;
    color: #3cb878;
    font-size: 14px;
}

.btn {
    display: inline-block;
    padding: 15px;
    width: 39%;
}

.fab {
    border-right: 1px solid rgba(80, 80, 80, 0.3);
    padding-right: 5px;

}

.fb {

    border-radius: 3px;
    background-color: #305db8;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

.fb:hover {
    background-color: #264b96;
}


.google {

    border-radius: 3px;
    background-color: #df4a32;
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    float: right;
}

.google:hover {
    background-color: #c3412c;
}

.col {
    width: 322px;
    margin: 0 auto;
}

.line {
    /*padding: 10px;*/
    width: 322px;
    text-align: center;
    position: relative;
    font-size: 14px;
    color: #848484;
    margin-top: 33px;
    margin-bottom: 18px;
}

.line::before, .line::after {
    content: "";
    height: 1px;
    width: calc(50% - 26px);
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
}

.line::before {
    left: 0;
}

.line::after {
    right: 0;
}


.form-control {
    padding: 12px 0 12px 18px;
    width: calc(100% - 19px);
    line-height: 14px;
    margin-bottom: 9px;
    font-size: 14px;
    outline: none;
    transition: transform 0.7s ease;
}

input::-webkit-input-placeholder {
    color: #ccc;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}



.form-control:hover {
    border-radius: 3px;
    border-top: none;
    border-left: none;
    box-shadow: 0 3px 8px 4px rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
    transform: translateY(-3px);
}

.form-control:focus {
    border-radius: 3px;
    border-top: none;
    border-left: none;
    box-shadow: 0 3px 8px 4px rgba(0, 0, 0, 0.21);
    background-color: #ffffff;
}



.sub-btn {
    margin-bottom: 32px;
    background: #3cb878;
    width: 322px;
    height: 46px;
    border-radius: 10px;
    color: #ffffff;
    font-size: 16px;
}

.sub-btn:hover {
    background-color: #329a65;
    cursor: pointer;
}


.form-control-check {
    display: none;
}

label {
    display: inline-block;
    margin-bottom: 28px;
    margin-top: 17.5px;
}

.new-check {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid grey;
    opacity: 0.5;
    text-align: center;
    line-height: 0.68;
    vertical-align: middle;
}

.new-check::before {
    content: "L";
    display: inline-block;
    font-family: Arial, sans-serif;
    font-size: 0;
    vertical-align: middle;
    transform: scaleX(-1) rotate(-40deg);
    transition: all 100ms;
    font-weight: bold;
    color: #388e51;

}

.form-control-check:checked + .new-check::before {
    font-size: 20px;
}

